@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');


.contenedornosotros{
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.contmapa{
    margin-top: 15px;
    margin-bottom: 15px;
}
#letranosostros{
  color: #030303;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
}

#contenedorinfo{
    height: 500px;
    max-height: 500px;
}

.estiloletra1{
    font-family: 'Lato', sans-serif;
    color: #0B2361;
    font-size: 40px;
}

#letra3{
    text-align: justify;
}

.jumbotron{
    margin-top: 15px;
    
}
#fondojumbo{
  background: linear-gradient(60deg, #F2A340 0%, #FFCDEA 100%);
}



.conttextoanimation{
    margin:0px;
    font-family:'Roboto';
    text-align:center;
    background-image: url("/img/WhatsApp\ Image\ 2022-10-05\ at\ 10.42.52\ AM.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}


#container {
    color:#ffffff;
    text-transform: uppercase;
    font-size:56px;
    font-weight:bold;
    padding-top:100px;
    padding-bottom: 100px;  
    position: relative;;
    width:100%;
    bottom:45%;
    display:block;
  }
  
  #flip {
    height:70px;
    overflow:hidden;
  }
  
  #flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:68px;
    margin-bottom:25px;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  #flip div div {
    background:#42c58a;
  }
  #flip div:first-child div {
    background:#4ec7f3;
  }
  #flip div:last-child div {
    background:#DC143C;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  

  /* animacion de texto movimiento */
  @keyframes filling {
    from{
      background-position: center 25%;
    }
    to {
      background-position: center 50%;
    }
  }
  
  .container-text {
    background-image:  url(/img/galletas/galletasgirasol.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color:  #FFFFFF;
    padding-top: 20px;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    animation: filling 3s ease forwards;
  }

  /* fin de animacion de movimiento */

  /* inicio de texto para historia */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
#circle-shape-example { 
  font-family: Open Sans, sans-serif; 
  margin: 2rem; 
}
#circle-shape-example p { 
  line-height: 1.8; 
}
#circle-shape-example .curve { 
  width: 36%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:4rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}
.textohistoria{
  text-align: justify;
}